.bg-video {
    background-image: url('../public/particles.gif');
    background-size: cover;
    background-position: center;
    opacity: 60%;
 }

* { z-index: 2; }
.particle, .particle > canvas { z-index: 1 !important; }

body{
    background-color: #eb0e0e;
}