@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

* { z-index: 3; }
.particle, .particle > canvas { z-index: 1 !important; }

#loreText {
  font-family: 'MedievalSharp', cursive;
}
